{% extends 'base.html.twig' %}

{% block body %}
  <div>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="form-group">
      <button class="btn btn-success">
        Submit
      </button>
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
